In [86]:
import pandas as pd
import pandas_profiling
import numpy as np

In [94]:
df = pd.read_csv("../../data/train_4-26.csv")
df_original = pd.read_csv("../../data/train_4-26.csv")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [95]:
feature_names = ['delta_imp_aport_var13_1y3',
                 'delta_imp_aport_var17_1y3',
                 'delta_imp_aport_var33_1y3',
                 'delta_imp_compra_var44_1y3',
                 'delta_imp_reemb_var13_1y3',
                 'delta_imp_reemb_var17_1y3',
                 'delta_imp_reemb_var33_1y3',
                 'delta_imp_trasp_var17_in_1y3',
                 'delta_imp_trasp_var17_out_1y3',
                 'delta_imp_trasp_var33_in_1y3',
                 'delta_imp_trasp_var33_out_1y3',
                 'delta_imp_venta_var44_1y3',
                 ]
for feature_name in feature_names:
    df[feature_name] = np.where((df[feature_name] != 0)&(df[feature_name] != -1)&(df[feature_name] != 9999999999),
                       None, df[feature_name])

In [96]:
df[feature_name].replace(to_replace=9999999999, value=1, inplace=True)

features_to_drop = ['delta_num_aport_var13_1y3', # because highly correlation with other columns
                    'delta_num_aport_var17_1y3', # because highly correlation with other columns
                    'delta_num_aport_var33_1y3', # because highly correlation with other columns
                    'delta_num_compra_var44_1y3', # because highly correlation with other columns
                    'delta_num_venta_var44_1y3', # because highly correlation with other columns
                    'imp_amort_var18_ult1', # because almost no variance
                    'saldo_var18', # because almost no variance
                    'imp_amort_var34_ult1', # because almost no variance
                    'saldo_var34', # because almost no variance
                    ]
for feature_name in features_to_drop:
    df.drop(feature_name, axis=1, inplace=True)

In [159]:
print df['num_med_var22_ult3'].value_counts()
print df['num_var22_ult3'].value_counts()

0     64766
3      7981
6      2271
9       684
12      199
15       65
18       28
21        8
24        7
27        4
33        2
30        2
51        1
48        1
78        1
Name: num_med_var22_ult3, dtype: int64
0      49954
3       9176
6       5636
9       3758
12      2534
15      1689
18      1084
21       711
24       476
27       300
30       242
33       142
36        84
39        61
42        54
45        29
48        23
54        13
51        13
57         9
60         6
66         5
72         5
63         3
81         3
75         2
93         2
144        1
87         1
159        1
99         1
102        1
234        1
Name: num_var22_ult3, dtype: int64