In [86]:
import pandas as pd
import pandas_profiling
import numpy as np

In [94]:
df = pd.read_csv("../../data/train_4-26.csv")
df_original = pd.read_csv("../../data/train_4-26.csv")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [95]:
feature_names = ['delta_imp_aport_var13_1y3',
                 'delta_imp_aport_var17_1y3',
                 'delta_imp_aport_var33_1y3',
                 'delta_imp_compra_var44_1y3',
                 'delta_imp_reemb_var13_1y3',
                 'delta_imp_reemb_var17_1y3',
                 'delta_imp_reemb_var33_1y3',
                 'delta_imp_trasp_var17_in_1y3',
                 'delta_imp_trasp_var17_out_1y3',
                 'delta_imp_trasp_var33_in_1y3',
                 'delta_imp_trasp_var33_out_1y3',
                 'delta_imp_venta_var44_1y3',
                 ]
for feature_name in feature_names:
    df[feature_name] = np.where((df[feature_name] != 0)&(df[feature_name] != -1)&(df[feature_name] != 9999999999),
                       None, df[feature_name])

In [96]:
df[feature_name].replace(to_replace=9999999999, value=1, inplace=True)

features_to_drop = ['delta_num_aport_var13_1y3', # because highly correlation with other columns
                    'delta_num_aport_var17_1y3', # because highly correlation with other columns
                    'delta_num_aport_var33_1y3', # because highly correlation with other columns
                    'delta_num_compra_var44_1y3', # because highly correlation with other columns
                    'delta_num_venta_var44_1y3', # because highly correlation with other columns
                    'imp_amort_var18_ult1', # because almost no variance
                    'saldo_var18', # because almost no variance
                    'imp_amort_var34_ult1', # because almost no variance
                    'saldo_var34', # because almost no variance
                    ]
for feature_name in features_to_drop:
    df.drop(feature_name, axis=1, inplace=True)

In [222]:
print df_original['saldo_var18'].value_counts()
print df['saldo_var1'].value_counts()

0          76018
3000000        1
300000         1
Name: saldo_var18, dtype: int64
0.000        75734
900.000          2
4035.000         2
914.520          1
281.760          1
979.950          1
56.010           1
47.700           1
435.780          1
550.320          1
251.730          1
648.240          1
36000.000        1
1935.030         1
1056.060         1
152.550          1
1664.100         1
774.390          1
1776.120         1
130.500          1
101.520          1
934.950          1
7214.670         1
97.590           1
400.200          1
1055.580         1
612.360          1
735.330          1
1010.100         1
311.970          1
             ...
579.240          1
5497.200         1
643.650          1
381.150          1
188.880          1
819.120          1
834.960          1
43.500           1
2593.470         1
315.330          1
440.280          1
1987.470         1
192.240          1
29.910           1
2841.450         1
60.180           1
1021.680         1
5427.810         1
570.180          1
828.180          1
69.180           1
678.480          1
311.520          1
930.330          1
1067.100         1
2105.430         1
1495.800         1
-0.900           1
1846.770         1
2887.890         1
Name: saldo_var1, dtype: int64

In [231]:
print df['var38'].value_counts()

117310.979    14868
451931.220       16
463625.160       12
288997.440       11
104563.800       11
236690.340        8
104644.410        7
125722.440        7
128318.520        7
329603.970        7
67088.310         7
70813.800         6
97639.560         6
163432.470        6
100466.730        6
168733.620        6
185385.690        6
105260.880        6
208961.790        5
121603.020        5
53324.460         5
131353.470        5
71302.530         5
126065.040        5
192920.760        5
185784.720        5
229351.650        5
33184.020         5
63820.890         5
276030.570        5
              ...
60641.190         1
116348.850        1
260050.500        1
138685.650        1
259491.210        1
38497.500         1
169253.910        1
53706.630         1
124985.760        1
122917.860        1
63206.880         1
119542.260        1
144531.990        1
50716.080         1
109296.060        1
79250.400         1
95574.990         1
62236.320         1
32417.520         1
102904.950        1
134462.370        1
58373.520         1
154694.790        1
110788.440        1
46643.670         1
45838.110         1
115894.500        1
110581.170        1
167445.270        1
19546.500         1
Name: var38, dtype: int64